@tailwind base;
@tailwind components;
@tailwind utilities;

.text-overflow {
  text-overflow: ellipsis;
  overflow: hidden;
  word-break: break-word;

  display: -webkit-box;
  -webkit-line-clamp: 7;
  -webkit-box-orient: vertical;
}

.absolute_kit {
  position: absolute;
  transform: translate(-50%, -50%);
}
